<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.dougchansan.decomp-fleet</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/douglaswhittingham/pkmn-colosseum/fleet/fleet-up.sh</string>
  </array>
  <key>RunAtLoad</key><true/>
  <key>StandardOutPath</key><string>/tmp/fleet-up.log</string>
  <key>StandardErrorPath</key><string>/tmp/fleet-up.log</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key><string>/Users/douglaswhittingham/.bun/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
</dict>
</plist>
